<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BDSender.Properties.Settings>
            <setting name="OUTPUT_LR" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="DB_SE_NAME" serializeAs="String">
                <value>SEMed1650</value>
            </setting>
            <setting name="DB_SE_USER" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DB_SE_PASS" serializeAs="String">
                <value>Admin@gd4</value>
            </setting>
            <setting name="DB_SE_PORT" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="DB_MED_NAME" serializeAs="String">
                <value>meddispense</value>
            </setting>
            <setting name="DB_MED_USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_MED_PASS" serializeAs="String">
                <value>Admin@gd4</value>
            </setting>
            <setting name="DB_MED_PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DB_SE_SERVER" serializeAs="String">
                <value>10.35.222.66</value>
            </setting>
            <setting name="DB_MED_SERVER" serializeAs="String">
                <value>10.35.222.66</value>
            </setting>
            <setting name="WAIT_TIME" serializeAs="String">
                <value>300</value>
            </setting>
        </BDSender.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BDSender.Properties.Settings>
            <setting name="BDSender_dih_webserv_DIHPMPFWebservice" serializeAs="String">
                <value>http://10.35.222.66:8788/axis2/services/DIHPMPFWebservice.DIHPMPFWebserviceHttpSoap11Endpoint/</value>
            </setting>
        </BDSender.Properties.Settings>
    </applicationSettings>
</configuration>